* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
}





/* Sidebar Cart */

.cart {
  background-color: purple;
  color: white;
  width: 25%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.cart h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.cart button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  font-size: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s;
}



.container {
  display: flex;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  flex: 3;
}

.product-card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px purple;
}

.product-card:hover{
  box-shadow: 0 0 20px black;
  transition: all 0.3s ease-in-out;

}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}



.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 40px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-footer button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button{
  color: white;
  background-color: red;
  border-radius: 22px;
  border: none;
}

.cart button:hover{
  background-color: black;
}

.cart:hover {
  background-color: pink;
  color: black;
}
